<div class="container">
  <div>
    <h1>PHP テキスト教材</h1>
  </div>
  <div>
    <div>
      <% @php_texts.each do |php_text| %>
        <%= link_to php_text_path(php_text.id), target: :_blank do %>
          <%= image_tag 'default.jpg' %>
          <p><%= php_text.title %></p>
          <p>【PHP】</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
