<%= link_to "詳細" %>
<h1 class="text-center text-success mb-4">LINE</h1>
<table class="table table-striped">
  <thead class="text-white bg-success">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">ジャンル</th>
      <th scope="col">内容</th>
    </tr>
    <thead>
      <tbody>
        <% @lines.each.with_index(1) do |line, i| %>
          <tr>
            <th scope="row"><%= i %></th>
            <td><%= line.genre %></td>
            <td><%= link_to "#{line.title}", line_path(line.id), target: "blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
