<div class="base-container mw-md">
  <h2><%= @text.title %></h2>
  <p>
    <%= markdown(@text.content) %>
  </p>
  <div id="text-<%= @text.id %>">
    <%= render "read", text: @text %>
  </div>
</div>
